@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Snippet&display=swap");
/*
font-family: 'Snippet', sans-serif;
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Snippet', sans-serif;
  scroll-behavior: smooth;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6f0ff), color-stop(#d2e3fe), color-stop(#bdd7fe), color-stop(#a9cafd), to(#94bdfc));
  background-image: linear-gradient(to bottom, #e6f0ff, #d2e3fe, #bdd7fe, #a9cafd, #94bdfc);
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  color: #003789;
}

.encabezado .mateo {
  font-size: 2.5rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #003789;
}

.encabezado ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.encabezado ul li {
  margin-right: 2rem;
  font-size: 2rem;
}

.encabezado ul li a {
  text-decoration: none;
  color: #003789;
}

footer {
  text-align: center;
  background-color: #6089c6;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -PÁGINA PRINCIPAL- - - - - - - - - -*/
.inicial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 10rem;
}

.inicial .titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inicial .titulos h1 {
  font-size: 5rem;
  color: #003789;
}

.inicial .titulos h2 {
  font-size: 4.5rem;
  color: #256CD7;
  font-weight: 100;
}

.inicial .imgInicial {
  margin-top: 5rem;
  width: 80%;
}

.divDescripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divDescripcion .descripcionWeb {
  font-weight: 100;
  font-size: 2.3rem;
  color: #003789;
  text-align: center;
  width: 90%;
  margin-bottom: 12rem;
  text-decoration: none;
}

.divBiografia {
  background-color: #ebf3ff8d;
  width: 80%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-bottom: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.divBiografia .tituloIntro {
  margin-top: 1rem;
  text-align: center;
  font-size: 3rem;
}

.divBiografia .mateoSelfie {
  margin-top: 2rem;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.divBiografia p {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1.4rem;
  padding: 0 1rem 2rem 1rem;
  color: #003789;
  margin: 0 1rem;
}

.divBiografia .masInfo {
  background-color: #0E4290;
  border-radius: 20px;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.divBiografia .masInfo p {
  text-align: center;
  color: #EBF3FF;
  padding: 0.8rem 1rem 1rem 1rem;
  margin: 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.cards .preCard1, .cards .preCard2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.cards .preCard1 p, .cards .preCard2 p {
  position: absolute;
  top: 50px;
  font-size: 3rem;
  font-weight: 300;
  color: #EBF3FF;
  z-index: 1;
}

.cards .preCard1 .card1, .cards .preCard1 .card2, .cards .preCard2 .card1, .cards .preCard2 .card2 {
  width: 80%;
  height: 20vh;
  background-size: cover;
  margin-bottom: 3rem;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.cards .card1 {
  background-image: url(/imagenes/churros.JPEG);
  background-position: 20% 10%;
}

.cards .card2 {
  background-image: url(/imagenes/deEspalda.JPG);
  background-position: 0 60%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -PÁGINA PRINCIPAL- - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -MI VIAJE- - - - - - - - - -*/
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -MI VIAJE- - - - - - - - - -*/
/*# sourceMappingURL=estilos.css.map */