/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -PÁGINA PRINCIPAL- - - - - - - - - -*/

.inicial {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 6rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10rem;
    .titulos {
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 5rem;
            color: #003789;
        }
        h2 {
            font-size: 4.5rem;
            color: #256CD7;
            font-weight: 100;
        }
    }
    .imgInicial {
        margin-top: 5rem;
        width: 80%;
    }
}
.divDescripcion {
    display: flex;
    justify-content: center;
    .descripcionWeb {
        font-weight: 100;
        font-size: 2.3rem;
        color: #003789;
        text-align: center;
        width: 90%;
        margin-bottom: 10rem;
    }
}

.divBiografia {
    background-color: #EBF3FF;
    width: 80%;
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
        .tituloIntro {
            margin-top: 1rem;
            text-align: center;
            font-size: 3rem;
        }
        .mateoPng {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }
        p {
            font-family: "Segoe UI", Arial, sans-serif;
            font-size: 1.4rem;
            padding: 0 1rem 2rem 1rem;
            color: #003789;
            margin: 0 1rem;
        }
        .masInfo {
            background-color: #0E4290;
            border-radius: 20px 20px 20px 20px;
            width: 35%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            p {
                text-align: center;
                color: #EBF3FF;
                padding: 0.8rem 1rem 1rem 1rem;
                margin: 0;
                
            }
        }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - -PÁGINA PRINCIPAL- - - - - - - - - -*/