.inicial {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 8rem;
    .titulos {
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 3rem;
            color: #003789;
        }
        h2 {
            font-size: 2.5rem;
            color: #256CD7;
        }
    }
    .imgInicial {
        
        width: 40%;
    }
}
.divDescripcion {
    display: flex;
    justify-content: center;
    .descripcionWeb {
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        font-size: 2.3rem;
        color: #003789;
        text-align: center;
        width: 90%;
        margin-bottom: 8rem;
    }
}
    

p {
    font-family: "Segoe UI", Arial, sans-serif;
}

.pngMateo {
    width: 10rem;
}